################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Smpp/obj
/Smpp.Tests/obj
/Smpp/bin
/Smpp.Tests/bin
/.vs
/packages